html { 
    scroll-behavior: smooth; /*링크이동시 스크롤 애니메이션*/
  } 
nav {
    list-style-type: none;
    background-color: #fff;
    list-style-type: none; /*목록에 불릿이 나타나지 않게 설정*/
    width: 15%;
    padding: 0;
    margin:  0;
    position: fixed; /*위치 고정 (스크롤 내려도)*/
    height: 100%;
    overflow: auto;
    border-radius : 10px
}

li { border-bottom: solid 1px #aaa; } /*경계선을 표현*/

li a {
    font-family: 'Days One', sans-serif;
    text-decoration: none;
    display: block;
    color: #5B6DDF;
    padding: 8px 15px 8px 15px;
    font-weight: bold;
}

li a:hover{
    /* src : url('https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round'); */
    /* font-family: '/var/www/html/web/nanum-square-round/NanumSquareRoundExtraBold'; */
    font-family: 'Days One', sans-serif;
    /* text-shadow: -2px 0 #2134ad, 0 2px #2134ad, 2px 0 #2134ad, 0 -2px #2134ad; */
    /* -webkit-text-stroke: 1px #2134ad; */
    background-color: #5B6DDF;
    color:#fff;
}

nav ul {display:none;}
nav li:hover > ul { /*주 메뉴에 마우스 오버했을 때 부 메뉴 표시하기*/
    display:block;
    list-style-type: none; /*목록에 불릿이 나타나지 않게 설정*/
    color : #7F7F7F 
}

/* https://www.codingfactory.net/10957 */
.profile {
    width:300px; height:700px; float:left; margin:10px; border-radius : 10px;

    background-color: #5B6DDF;;
    background-size: cover;
    position: relative;
    font-family: 'Days One', sans-serif;
    color : #fff
}
.profile img{
    width:60%; height:auto; margin-top:10px;
}

.skill {
    margin-bottom: 30px;
}

/* .profile .skill{
    width:95%; height:300px; display:inline-block; margin:4px;
    font-family: 'Days One', sans-serif;
    font-size: 20px;
    color:#fff;
    -webkit-text-stroke: 1px #5B6DDF;
    text-shadow:4px 4px 4px #FFE969;
    text-align: center;
} */

/* .skill {
    width: 100%;
    height: 100%;
    border-radius: 40px 80px;
    background-color: #fff;
    background-size: cover;
    position: relative;
} */